/* =========
Your custom styles go here
 ========= */

html.ios-gt-8 .contacts-block .list-group-title {
    font-weight: 500;
}

html.ios-gt-8 .list-block.media-list .item-title {
    font-weight: 500;
}

img {
    max-width: 100%;
}

.login-index {
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.scroll-bg {
    height: 100%;
    overflow: auto;
}

.navbar.theme-custom {
    background-color: orange;
    color: #fff;
    background-image: linear-gradient(-30deg, #ff8b20, #ffa126);
}

.navbar.theme-custom a {
    color: #fff;
}

.navbar.theme-custom i.icon.icon-back {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M10%2C0l2%2C2l-8%2C8l8%2C8l-2%2C2L0%2C10L10%2C0z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.form {
    padding: 24px 10px;
    color: #333;
}

.form-item {
    margin-bottom: 15px;
}

.form-info {
    margin-bottom: 15px;
}

.form-item .form-control {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    padding: 0 10px;
    position: relative;
}

.form-item .form-textarea-control {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    padding: 5px 10px;
    position: relative;
    line-height: 1.4;
    background: none;
    box-shadow: none;
    font-size: 1rem;
}

.form-item .form-file-control:after {
    content: '';
    display: table;
    clear: both;
}

.form-item .form-file-control .file-item {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 1px dashed #acacac;
    float: left;
    margin-right: 8px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.form-item .form-file-control .file-item.has-file:before,
.form-item .form-file-control .file-item.has-file:after {
    display: none;
}

.form-item .form-file-control .file-item:before,
.form-item .form-file-control .file-item:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background-color: #dcdcdc;
    border-radius: 5px;
    display: block;
    content: '';
}

.form-item .form-file-control .file-item:before {
    width: 55px;
    height: 5px;
}

.form-item .form-file-control .file-item:after {
    height: 55px;
    width: 5px;
}

.form-item .form-file-control .file-item input[type='file'] {
    display: none;
}

.form-item .form-control input,
.form-item .form-control select {
    box-sizing: border-box;
    border: none;
    background: 0 0;
    border-radius: 0;
    box-shadow: none;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 40px;
    color: #333;
    font-size: 1rem;
    font-family: inherit;
}

.form-item .form-control .error-msg {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 40px;
    color: red;
    padding: 0 10px;
}

.input-group {
    display: table;
    border-collapse: separate;
}

.input-group .input-group-control {
    display: table-cell;
    width: 100%;
}

.input-group .input-group-addon {
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    padding-left: 10px;
}

.successPage{
    padding-top: 100px;
    text-align: center;
    color: #888;
}

.successPage .icon{
    height: 120px;
    width: 120px;
    background-color: orange;
    color: #fff;
    background-image: linear-gradient(-30deg, #ff8b20, #ffa126);
    position: relative;
    border-radius: 100%;
    margin: auto;
}

.successPage h3{
    color: #333;
    font-size: 20px;
}

.successPage .icon:after{
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: no-repeat center;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20x%3D'0px'%20y%3D'0px'%20viewBox%3D'0%200%2012%209'%20xml%3Aspace%3D'preserve'><polygon%20fill%3D'%23ffffff'%20points%3D'12%2C0.7%2011.3%2C0%203.9%2C7.4%200.7%2C4.2%200%2C4.9%203.9%2C8.8%203.9%2C8.8%203.9%2C8.8%20'%2F><%2Fsvg>");
}

.successTitle .center{
    position: absolute;
    left: 0;
    right: 0;
    display: block;
}